!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa
    %link{rel: "stylesheet", type: "text/css", href:"styles/sugar.css", media:"screen"}
  %body
    %header
      %img.logo{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav#main-nav
      %ul
        %li.active
          %a{href:'orders.html'} Pedidos
        %li
          %a{href:'clients.html'} Clientes
        %li
          %a{href:'salesmen.html'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'brands.html'} Marcas 
        %li
          %a{href:'/products'} Productos
    #main-container
      #main-content
        .heading
          %h1 Pedidos
        %input{type: 'search', name: 'order-search', placeholder: 'Busca un pedido'}
        %table.orders.index
          %thead
            %tr
              %th.order-number 
                %span Número de Pedido
              %th.client Cliente
              %th.salesman Vendedor
              %th.date Fecha
              %th.status Status
          %tbody
            %tr
              %td 
                %a{href:"#"} 78334
              %td
                %a{href:"#"}
                  Farmacia El Javillo
                  %span.db-ref (1234567)
              %td
                %a{href:"#"} 
                  Jorge Garcia
                  %span.db-ref (7654321)
              %td 25/08/2013
              %td Confirmado
            %tr
              %td 
                %a{href:"#"} 78333
              %td
                %a{href:"#"}
                  Supermercado El Rey
                  %span.db-ref (7865831)
              %td
                %a{href:"#"} 
                  Jose Varela
                  %span.db-ref (6538821)
              %td 25/08/2013
              %td Confirmado
            %tr
              %td 
                %a{href:"#"} 78332
              %td
                %a{href:"#"}
                  Importadora Ricamar
                  %span.db-ref (6583107)
              %td
                %a{href:"#"} 
                  Diego Molino
                  %span.db-ref (6998821)
              %td 25/08/2013
              %td Confirmado
            %tr
              %td 
                %a{href:"#"} 78331
              %td
                %a{href:"#"}
                  Farmacia El Javillo
                  %span.db-ref (1234567)
              %td
                %a{href:"#"} 
                  Jorge Garcia
                  %span.db-ref (7654321)
              %td 25/08/2013
              %td Confirmado
