!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa - Productos
  %body
    %header
      %img{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav
      %ul
        %li
          %a{href:'/orders'} Pedidos
        %li
          %a{href:'/clients'} Clientes
        %li
          %a{href:'/salesmen'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'/brands'} Marcas 
        %li
          %a{href:'/products'}.active Productos
    #main-content
      %h1 Productos
      %a{href:'/products/new'} Crear Producto
      %input{type: 'search', name: 'product-search', results: 5, placeholder: 'Busca un producto'}
      %table
        %thead
          %th Nombre(Código)
          %th Publicado
        %tbody
          %td 
            Gatorade de Uva
            %span (GTRD-445)
          %td &#x2713;
