!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa
    %link{rel: "stylesheet", type: "text/css", href:"styles/sugar.css", media:"screen"}
  %body
    %header
      %img.logo{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav#main-nav
      %ul
        %li
          %a{href:'/orders'} Pedidos
        %li.active
          %a{href:'clients.html'} Clientes
        %li
          %a{href:'/salesmen'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'brands.html'} Marcas 
        %li
          %a{href:'/products'} Productos
    #main-container
      #main-content
        .heading
          %h1 Clientes
          .actions
            %a.btn{href:'/clients/new'} Crear Cliente
        %input{type: 'search', name: 'client-search', placeholder: 'Busca un cliente'}
        %table.clients.index
          %thead
            %tr
              %th.name Nombre (Código)
              %th.published Publicado
          %tbody
            %tr
              %td.name 
                %a{href:"#"}
                  Farmacia El Javillo
                  %span.db_ref (1234567)
              %td.published
                .onoffswitch
                  %input#javillo-publish-switch.onoffswitch-checkbox{checked: "checked", name: "publish-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "javillo-publish-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
            %tr
              %td.name 
                %a{href:"#"}
                  Supermercado El Rey
                  %span.db_ref (7865831)
              %td.published
                .onoffswitch
                  %input#rey-publish-switch.onoffswitch-checkbox{checked: "checked", name: "publish-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "rey-publish-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
            %tr
              %td.name 
                %a{href:"#"}
                  Importadora Ricamar
                  %span.db_ref (6583107)
              %td.published
                .onoffswitch
                  %input#ricamar-publish-switch.onoffswitch-checkbox{checked: "checked", name: "publish-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "ricamar-publish-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
