!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa - Clientes - Farmacia El Javillo
  %body
    %header
      %img{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav
      %ul
        %li
          %a{href:'/orders'} Pedidos
        %li
          %a{href:'/clients'}.active Clientes
        %li
          %a{href:'/salesmen'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'/brands'} Marcas 
        %li
          %a{href:'/products'} Productos
    #main-content
      %h1 Farmacia El Javillo
      %a{href:'/clients/edit'} Editar
      %a Borrar
      %span Código: 1234567
      %span Publicado
      %input{type: 'search', name: 'client-search', results: 5, placeholder: 'Busca un cliente'}
      %table
        %thead
          %tr
            %th Vendedor(Código)
            %th Asignado
        %tbody
          %tr
            %td 
              Jorge Garcia
              %span (7654321)
            %td
              %a Quitar
          %tr
            %td 
              Jose Varela
              %span (7456312)
            %td
              %a Asignar
