!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa
    %link{rel: "stylesheet", type: "text/css", href:"styles/sugar.css", media:"screen"}
  %body
    %header
      %img.logo{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav#main-nav
      %ul
        %li
          %a{href:'orders.html'} Pedidos
        %li
          %a{href:'clients.html'} Clientes
        %li
          %a{href:'salesmen.html'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'brands.html'} Marcas 
        %li.active
          %a{href:'products.html'} Productos
    #main-container
      #main-content
        .heading
          %h1 Productos
          .actions
            %a.btn{href:'/products/new'} Crear Producto
        %input{type: 'search', name: 'product-search', placeholder: 'Busca un producto'}
        %table.products.index
          %thead
            %tr
              %th.name 
                Nombre
                %span.db-ref (Código)
              %th.db-ref Código
              %th.published Publicado
          %tbody
            %tr
              %td.name
                %a{href:"gatorade-uva.html"}
                  Gatorade de Fresa
                  %span.db-ref (GTRD-545)
              %td.db-ref GTRD-545
              %td.published
                .onoffswitch
                  %input#gatorade-fresa-publish-switch.onoffswitch-checkbox{checked: "checked", name: "publish-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "gatorade-fresa-publish-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
            %tr
              %td.name
                %a{href:"gatorade-uva.html"}
                  Gatorade de Uva
                  %span.db-ref (GTRD-445)
              %td.db-ref GTRD-445
              %td.published
                .onoffswitch
                  %input#gatorade-uva-publish-switch.onoffswitch-checkbox{checked: "checked", name: "publish-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "gatorade-uva-publish-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
