/* Sugar */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  overflow: hidden; }
  body:after {
    clear: both;
    content: "";
    display: table; }

header {
  height: 75px; }

nav {
  float: left;
  height: 100%;
  width: 200px; }

#main-container {
  background-color: #fcfcfc;
  height: 100%;
  padding-left: 200px;
  padding-bottom: 75px;
  width: 100%; }

#main-content {
  height: 100%;
  overflow: auto; }
  #main-content::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px; }
  #main-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }
  #main-content::-webkit-scrollbar-button {
    height: 0;
    width: 0; }
  #main-content::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid rgba(0, 0, 0, 0);
    border-width: 0 0 0 4px; }
  #main-content::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0); }

header {
  background-color: white;
  border-bottom: 1px solid #eeeeee; }
  header .logo {
    height: 100%;
    padding: 15px 10px; }

nav {
  background-color: white;
  border-right: 1px solid #eeeeee; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    border-bottom: 1px solid #eeeeee; }
  nav a {
    background-color: white;
    color: #888888;
    display: block;
<<<<<<< Updated upstream
    font-size: 18px;
    font-weight: bold;
    padding: 20px 15px;
    text-decoration: none; }
    nav a:hover {
      background-color: #f8f8f8;
      color: #555555; }
  nav .active a {
    background-color: #f8f8f8;
    border-left: 5px solid #f16b23;
    color: #f16b23; }
=======
    height: 10px;
    width: 10px; }

textarea {
  height: auto; }

.btn, .btn-primary, .btn-danger {
  background-color: #f4f4f4;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  color: #555555;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: background linear 0.15s, border linear 0.15s, color linear 0.15s;
  -webkit-transition: background linear 0.15s, border linear 0.15s, color linear 0.15s;
  -moz-transition: background linear 0.15s, border linear 0.15s, color linear 0.15s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:hover, .btn-primary:hover, .btn-danger:hover {
    background-color: #efefef;
    border-color: #cccccc;
    color: #444444; }

.btn-primary {
  background-color: #f48c40;
  border-color: #ea8131;
  color: white; }
  .btn-primary:hover {
    background-color: #f16b23;
    border-color: #e95307;
    color: white; }

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: white; }
  .btn-danger:hover {
    background-color: #d2322d;
    border-color: #ac2925;
    color: white; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%; }
  table td, table th {
    border-top: 1px solid #dddddd;
    line-height: 2;
    padding: 10px 8px;
    text-align: left;
    vertical-align: top; }
    @media (max-width: 480px) {
      table td, table th {
        padding: 8px 5px; } }
  table th {
    border-bottom: 2px solid #dddddd;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: bottom; }
    @media (max-width: 480px) {
      table th {
        font-size: 12px; } }
  table thead:first-child tr:first-child th {
    border-top: 0; }

.label, .label-green, .label.verified, .label-red, .label.unsent, .label-yellow, .label.sent {
  background-color: #efefef;
  border-radius: 2px;
  color: #444444;
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

.label-green, .label.verified, .verified.label-green, .verified.label-red, .verified.label.unsent, .verified.label-yellow, .verified.label.sent {
  background-color: #5cb85c;
  color: white; }

.label-red, .label.unsent, .unsent.label-green, .unsent.label.verified, .unsent.label-red, .unsent.label-yellow, .unsent.label.sent {
  background-color: #d9534f;
  color: white; }

.label-yellow, .label.sent, .sent.label-green, .sent.label.verified, .sent.label-red, .sent.label.unsent, .sent.label-yellow {
  background-color: #f0ad4e;
  color: white; }

.onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  border-radius: 2px; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s, background linear 0.15s, border linear 0.15s;
  -webkit-transition: margin 0.3s ease-in 0s, background linear 0.15s, border linear 0.15s;
  -o-transition: margin 0.3s ease-in 0s, background linear 0.15s, border linear 0.15s;
  transition: margin 0.3s ease-in 0s, background linear 0.15s, border linear 0.15s; }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 19px;
    color: white;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background linear 0.15s, border linear 0.15s;
    -webkit-transition: background linear 0.15s, border linear 0.15s;
    -o-transition: background linear 0.15s, border linear 0.15s;
    transition: background linear 0.15s, border linear 0.15s; }
  .onoffswitch-inner:before {
    content: "✓";
    padding-left: 10px;
    background-color: #5cb85c;
    color: white; }
  .onoffswitch-inner:after {
    content: "×";
    padding-right: 11px;
    background-color: #d9534f;
    color: white;
    text-align: right; }

.onoffswitch-switch {
  width: 25px;
  margin: 0px;
  background: #f4f4f4;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch:hover .onoffwitch-label {
  border-color: #cccccc; }
.onoffswitch:hover .onoffswitch-switch {
  background-color: #efefef;
  border-color: #cccccc; }
.onoffswitch:hover .onoffswitch-inner:before {
  background-color: #47a447; }
.onoffswitch:hover .onoffswitch-inner:after {
  background-color: #d2322d; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

.heading {
  margin-bottom: 20px; }
  .heading:after {
    clear: both;
    content: "";
    display: table; }
  .heading h1, .heading .actions {
    float: left; }
    .heading h1:after, .heading .actions:after {
      clear: both;
      content: "";
      display: table; }
  .heading h1 {
    margin: 5px 0px; }
  .heading .actions {
    text-align: right; }
  .heading span {
    display: block; }

h1 .published {
  display: inline-block;
  margin-bottom: -5px;
  margin-left: 5px; }

@media (min-width: 768px) {
  .published .onoffswitch {
    width: 110px; }
  .published .onoffswitch-inner:before, .published .onoffswitch-inner:after {
    font-size: 10px;
    text-transform: uppercase; }
  .published .onoffswitch-inner:before {
    content: "Publicado";
    padding-left: 12px; }
  .published .onoffswitch-inner:after {
    content: "No Publicado";
    padding-right: 4px; }
  .published .onoffswitch-switch {
    right: 85px; } }

@media (min-width: 768px) {
  .assigned .onoffswitch {
    width: 110px; }
  .assigned .onoffswitch-inner:before, .assigned .onoffswitch-inner:after {
    font-size: 10px;
    text-transform: uppercase; }
  .assigned .onoffswitch-inner:before {
    content: "Asignado";
    padding-left: 15px; }
  .assigned .onoffswitch-inner:after {
    content: "No Asignado";
    padding-right: 6px; }
  .assigned .onoffswitch-switch {
    right: 85px; } }

table.index {
  margin-top: 10px; }
  table.index td, table.index th {
    transition: background linear 0.05s;
    -webkit-transition: background linear 0.05s;
    -moz-transition: background linear 0.05s; }
  table.index tbody > tr:hover > td, table.index tbody > tr:hover > th {
    background-color: whitesmoke; }
  table.index td a {
    color: #666666; }
    table.index td a:hover {
      color: #f16b23; }
  table.index td .db-ref {
    color: #aaaaaa; }
  table.index td.published, table.index th.published, table.index td.assigned, table.index th.assigned {
    text-align: right; }
    table.index td.published .onoffswitch, table.index th.published .onoffswitch, table.index td.assigned .onoffswitch, table.index th.assigned .onoffswitch {
      float: right;
      text-align: left; }

@media (max-width: 768px) {
  .orders.index th.order-number:after {
    content: "#"; }
  .orders.index th.order-number span {
    display: none; }
  .orders.index td .db-ref {
    display: block; } }
@media (max-width: 480px) {
  .orders.index th.salesman, .orders.index td.salesman {
    display: none; }
  .orders.index th.status {
    max-width: 72px;
    text-align: center; }
  .orders.index td.status {
    text-align: center; }
  .orders.index .label, .orders.index .label-green, .orders.index .label-red, .orders.index .label-yellow {
    border-radius: 15px;
    display: inline-block;
    min-height: 15px;
    min-width: 15px; }
    .orders.index .label span, .orders.index .label-green span, .orders.index .label-red span, .orders.index .label-yellow span {
      display: none; } }

h1 span.label, h1 span.label-green, h1 span.label.verified, h1 span.label-red, h1 span.label.unsent, h1 span.label-yellow, h1 span.label.sent {
  font-size: 50%;
  display: inline; }

table.order th, table.order td {
  text-align: right; }
table.order .product {
  text-align: left; }
  table.order .product span {
    color: #666666;
    display: block; }
table.order tfoot tr.subtotal td, table.order tfoot tr.tax td {
  background-color: whitesmoke; }
table.order tfoot tr.total td {
  background-color: #fcf8e3;
  border-color: #fbeed5; }

.brand, .photos, .packages {
  margin-bottom: 25px; }

.photos .btns {
  text-align: right; }
.photos img {
  padding-right: 10px;
  cursor: pointer; }

.packages .col-1-2:first-of-type, .packages .heading h1:first-of-type, .heading .packages h1:first-of-type, .packages .heading .actions:first-of-type, .heading .packages .actions:first-of-type {
  padding-right: 7.5px; }
.packages .col-1-2:last-of-type, .packages .heading h1:last-of-type, .heading .packages h1:last-of-type, .packages .heading .actions:last-of-type, .heading .packages .actions:last-of-type {
  padding-left: 7.5px; }
.packages table tr td:last-of-type {
  font-weight: bold;
  text-align: right; }
>>>>>>> Stashed changes
