!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}
    %meta(http-equiv="X-UA-Compatible" content= "IE=Edge,chrome=1")
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %title Ubiqua - Consola Administrativa
    %link{rel: "stylesheet", type: "text/css", href:"styles/sugar.css", media:"screen"}
  %body
    %header
      %img.logo{src:'images/ubiqua-logo.png', alt: 'ubiqua'}
    %nav#main-nav
      %ul
        %li
          %a{href:'orders.html'} Pedidos
        %li
          %a{href:'clients.html'} Clientes
        %li
          %a{href:'salesmen.html'} Vendedores
        %li
          %a{href:'/supervisors'} Supervisores
        %li
          %a{href:'brands.html'} Marcas 
        %li
          %a{href:'products.html'} Productos
    #main-container
      #main-content
        .heading
          %h1 
            Jorge Garcia
            .published
              .onoffswitch
                %input#jorge-publish-switch.onoffswitch-checkbox{checked: "checked", name: "jorge-switch", type: "checkbox"}
                %label.onoffswitch-label{for: "gatorade-publish-switch"}
                  .onoffswitch-inner
                  .onoffswitch-switch
          .actions
            %a.btn{href:'/salesmen/edit'} Editar
            %a.btn-danger{href: '#'} Borrar
          %span 
            Código: 
            %strong 7654321
          %span 
            Correo Electronico: 
            %strong jgarcia@ubiqua.me
          %span 
            Correo de Facturacion: 
            %strong facturador1@ubiqua.me
          %span 
            Última Actividad: 
            %strong 29/08/2013
        %input{type: 'search', name: 'client-search', placeholder: 'Busca un cliente'}
        %table.salesman.clients.index
          %thead
            %tr
              %th.name Cliente (Código)
              %th.assigned Asignado
          %tbody
            %tr
              %td.name
                %a{href:"javillo.html"}
                  Farmacia El Javillo
                  %span.db-ref (1234567)
              %td.assigned
                .onoffswitch
                  %input#javillo-assign-switch.onoffswitch-checkbox{checked: "checked", name: "assign-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "javillo-assign-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
            %tr
              %td.name 
                %a{href:"#"}
                  Super 99
                  %span.db-ref (1325476)
              %td.assigned
                .onoffswitch
                  %input#super99-assign-switch.onoffswitch-checkbox{checked: "checked", name: "assign-switch", type: "checkbox"}
                  %label.onoffswitch-label{for: "super99-assign-switch"}
                    .onoffswitch-inner
                    .onoffswitch-switch
